<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<button (click)="sayHello()" >Say Hello</button>
<button (click)="kc.login()" *ngIf="!(loggedIn|async)">login</button>
<button (click)="sayHelloSecurely()" *ngIf="loggedIn|async">Say Hello in a secured way</button>
<button (click)="kc.logout()" *ngIf="loggedIn | async">logout</button>
<div>
  {{ response }}
<button (click)="clear()" >x</button>
</div>
